{% extends 'base.html.twig' %}

{% block body%}
{% if messages %}
<div class="messages">

  {% for message in messages.error %}
    <div class="message message-error">{{ message }}</div>
  {% endfor %}
    {% for message in messages.info %}
    <div class="message message-info">{{ message }}</div>
  {% endfor %}
  </div>
{% endif %}

<div>
  <form action="/auth/login" method="POST">
    <div>
      <div class="form-row">
        <input type="text" id="auth-username" placeholder="Login name" name="username">
      </div>
      <div class="form-row">
        <input type="password" id="auth-pass" placeholder="Password" name="password">
      </div>
      <div class="form-row">
        <input type="Submit" value="Log in">
      </div>
    </div>
  </form>

</div>

{% endblock %}